In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/input_data.csv',sep=';', parse_dates=['date'],on_bad_lines='skip')
df = df.fillna(0)

In [ ]:
df

,date,price,level,levels,rooms,area,kitchen_area,geo_lat,geo_lon,building_type,object_type,postal_code,street_id,id_region,house_id
0,2021-01-01,2451300,15.0,31,1,30.3,0.0,56.780112,60.699355,0.0,2.0,620000.0,0.0,66.0,1632918.0
1,2021-01-01,1450000,5.0,5,1,33.0,6.0,44.608154,40.138381,0.0,0.0,385000.0,0.0,1.0,0.0
2,2021-01-01,10700000,4.0,13,3,85.0,12.0,55.540060,37.725112,3.0,0.0,142701.0,242543.0,50.0,681306.0
3,2021-01-01,3100000,3.0,5,3,82.0,9.0,44.608154,40.138381,0.0,0.0,385000.0,0.0,1.0,0.0
4,2021-01-01,2500000,2.0,3,1,30.0,9.0,44.738685,37.713668,3.0,2.0,353960.0,439378.0,23.0,1730985.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297020,2021-08-19,3520000,2.0,9,2,43.0,6.0,64.528435,40.586758,0.0,0.0,163002.0,0.0,29.0,0.0
6297021,2021-08-19,5800000,9.0,10,2,80.0,16.0,50.566387,36.576730,0.0,0.0,308033.0,0.0,31.0,0.0
6297022,2021-08-19,2350000,1.0,5,2,47.0,7.6,58.575810,49.635674,0.0,0.0,610014.0,0.0,43.0,0.0
6297023,2021-08-19,4500000,2.0,5,2,42.7,0.0,53.045357,158.651080,0.0,0.0,683017.0,0.0,41.0,0.0
6297024,2021-08-19,3800000,7.0,9,1,39.0,10.2,54.704426,20.575262,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df.date.min()

Timestamp('2021-01-01 00:00:00')

In [ ]:
date_separate = '2021-04-01'

In [ ]:
df_test = df[df.date > date_separate]
df_train = df[df.date <= date_separate]

In [ ]:
df_train = df_train.drop(['date','street_id','house_id'], axis=1)
df_test = df_test.drop(['date','street_id','house_id'], axis=1) # удаляем столбец дата

In [ ]:
train_matrix =  df_train.drop(['price'], axis=1)
train_price = df_train['price']

test_price = df_test['price']
test_matrix =  df_test.drop(['price'], axis=1)

In [ ]:
df_train.shape, df_test.shape

((1855911, 12), (4441114, 12))

In [ ]:
clf = LinearRegression()
# clf = DecisionTreeRegressor()
# clf = RandomForestRegressor()

# обучение модели
clf.fit(train_matrix, train_price)

# предсказание на тестовой выборке
y_pred = clf.predict(test_matrix)

In [ ]:
# The coefficients
# print("Coefficients: \n", clf.coef_)
# The mean squared error
print("Root mean squared error: %.3f" % mean_squared_error(test_price, y_pred, squared=False))
# The coefficient of determination: 1 is perfect prediction
print("Coefficient of determination: %.3f" % r2_score(test_price, y_pred))

# Plot outputs
# plt.scatter(test_matrix, test_price, color="black")
# plt.plot(test_matrix, y_pred, color="blue", linewidth=3)

# plt.xticks(())
# plt.yticks(())

# plt.show()

Root mean squared error: 74522432.382
Coefficient of determination: 0.010

In [ ]:
test_price

1855911    1195000
1855912    3349000
1855913    6400000
1855914    4280000
1855915    2200000
            ...
6297020    3520000
6297021    5800000
6297022    2350000
6297023    4500000
6297024    3800000
Name: price, Length: 4441114, dtype: int64

In [ ]:
y_pred

array([ 2149288.21207866,  3030424.84247388,  2029162.04377228, ...,
        3051585.93648289, -8894678.32343925,  5270344.64998611])

In [ ]:
from http import HTTPMethod

HTTPMethod.POST